@media (prefers-reduced-motion: no-preference) {img {animation: img-spin infinite 50s linear;}}
@keyframes img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
